<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Record Shop Stock</title>
  <link rel="stylesheet" type="text/css" href="/styles/nav_bar.css">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>

<div class="nav_bar">
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Albums</a>
      </li>
      <li>
        <a href="/">Artists</a>
      </li>
      <li>
        <a href="/">Stock Update</a>
      </li>
    </ul>
  </nav>
</div>

  <%= yield %>

</body>
</html>
