<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Record Shop Stock</title>
  <link rel="stylesheet" type="text/css" href="/styles/nav_bar.css">
  <link rel="stylesheet" type="text/css" href="/styles/Artists_Albums.css">
  <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  <link rel="stylesheet" type="text/css" href="/styles/stock.css">
  <link rel="stylesheet" type="text/css" href="/styles/new_pages.css">
</head>
<body>

<div class="nav_bar">
  <p>The Record Store App :)</p>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/artists/new">Manage Artists</a>
      </li>
      <li>
        <a href="/albums/new">Manage Albums</a>
      </li>
      <li>
        <a href="/albums/stock">Stock Status</a>
      </li>
    </ul>
  </nav>
  <p>The Record Store App :)</p>
</div>

  <%= yield %>

</body>
</html>
