.nav_bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  background-color: #282828;
  border-radius: 25px;


}

.nav_bar a{
  color: white;
}

.nav_bar a:hover{
  background-color: #3500D3;

}

.nav_bar li {
  display: inline-block;
}
