.container {
  width: 275px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-row {
  display: flex;
  justify-content: center;
}
