.bigger_container {
  display: flex;
  flex-direction: row;


}

.container {
  width: 275px;
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: black;
  margin: 10px;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-row {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.delete-options-row{
  display: flex;
  justify-content: center;
}
