<h1>New Artist Page</h1>

<form action="/artist" method="post">

    <label for="name">Artist Name:</label>
    <input type="text" id="name" name="name">

    <label for="artist_picture">Artist Picture Link:</label>
    <input type="text" id="artist_picture" name="artist_picture">

    <input type="submit" value="Add Artist">

</form>
