<h1>Manage Artists Page</h1>

<div class="bigger_container">

<div class="container">
  <form action="/artist" method="post">
  <div class="row">
      <div class="cell">  <label for="name">Artist Name:</label> </div>
      <div class="cell">  <input type="text" id="name" name="name"> </div>
  </div>
  <div class="row">
      <div class="cell"> <label for="artist_picture">Artist Picture Link:</label> </div>
      <div class="cell"> <input type="text" id="artist_picture" name="artist_picture"> </div>
  </div>
  <div class="bottom-row">
    <div class="cell"> <input type="submit" value="Add Artist"> </div>
  </div>
  </form>
</div>


<div class="container">
  <form action="/artist/delete" method="post">
    <p> Select an artist to delete. Please note: deleting an artist will delete any albums assosiated with the artist</p>
    <div class="delete-options-row">
    <select name="artist_id" id="artist_id">
      <% @artists.each do |artist| %>
      <option value = <%= artist.id %> ><%=artist.name%></option>
      <% end %>
    </select>
  </div>

    <div class="bottom-row">
      <div class="cell"> <input type="submit" value="Delete Artist"></div>
    </div>
  </form>
</div>

</div>
